mixin break(props)
	- props = Rhythm.ExtendAttributes({}, defaults.break, props)
	- props.style["height"] = props.height + "px"
	- props.style["line-height"] = props.height + "px"
	div&attributes(props) &nbsp;