mixin break(props)
	- var thisHeight = (props && props.height ? props.height : (baseBreakHeight ? baseBreakHeight : 30))
	div(style="font-size:1px;height:" + thisHeight + "px;line-height:" + thisHeight + "px;")
		| &nbsp;