include ./tables.pug
include ./spacer.pug
mixin bulletedContent(bulletProps, contentProps)
	- bulletProps = Rhythm.ExtendAttributes({}, defaults.bullet, props)
	- contentProps = Rhythm.ExtendAttributes({}, defaults.bulletedContent, props)
	+tableRow
		if thisSpaceBeforeBullet
			+tableCell
				+spacer({ width: bulletPaddingLeft })
		+tableCell
			span(style= props.bulletStyle ? props.bulletStyle : "")= props.bulletCharacter ? props.bulletCharacter : "&bull;"
		if thisSpaceAfterBullet
			+tableCell
				+spacer({ width: bulletPaddingRight })
		+tableCell(props)
			block