include ./tables.pug
include ./spacer.pug
mixin columns(props)
	- props = Rhythm.ExtendAttributes({}, defaults.columnContainer, props);
	+table(props)
		+tableBody
			+tableRow
				block
mixin column(props)
	- props = Rhythm.ExtendAttributes({}, defaults.columnCell, props);
	+tableCell(props)
		block
mixin columnSpacer(cellProps, spacerProps)
	- cellProps = Rhythm.ExtendAttributes({}, defaults.columnSpacerCell, cellProps)
	- spacerProps = Rhythm.ExtendAttributes({}, defaults.columnSpacer, spacerProps)
	+tableCell(cellProps)
		+spacer(spacerProps)
mixin columnRule(cellProps, spacerProps)
	- cellProps = Rhythm.ExtendAttributes({}, defaults.columnRuleCell, cellProps)
	- spacerProps = Rhythm.ExtendAttributes({}, defaults.columnRule, spacerProps)
	+tableCell(cellProps)
		+spacer(spacerProps)