mixin link(url, props)
	- props = Rhythm.ExtendAttributes({}, defaults.link, props);
	- if (url)
		a(href=url)&attributes(props)
			block
	- else if (props.style && props.style.display && props.style.display == "block")
		div&attributes(props)
			block
	- else
		span&attributes(props)
			block