//- A preheader is a hidden chunk of text which is placed first in the body, to provide a summary for email clients.
mixin preheader(props)
	- props = Rhythm.ExtendAttributes({}, defaults.preheader, props)
	div&attributes(props)
		block