include ./image.pug
mixin spacer(props)
	+image({
		"src": constants.ImagePath + "spacer.png",
		"height": props.height ? props.height : "1",
		"width": props.width ? props.width : "1",
		"style":
			props.height ? "height:" + props.height + "px;" : "1px" +
			props.width ? "width:" + props.width + "px;" : "1px"
	})