include ./image.pug
mixin spacer(props)
	- props = Rhythm.ExtendAttributes({}, defaults.spacer, props)
	+image({
		"src": constants.ImagePath + "spacer.png",
		"class": props.class,
		"height": props.height,
		"width": props.width,
		"style": {
			"height" : props.height + "px",
			"width": props.width + "px",
			"background-color": props.color ? props.color : null
		}
	})