include ./image.pug
mixin spacer(props)
	- props = Rhythm.ExtendAttributes({}, defaults.spacer, props)

	if (props.embed)
		- props.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
		- props.embed = null
	else
		- props.src = constants.ImagePath + "spacer.png"

	if (props.color)
		- props.style["background-color"] = props.color
		- props.color = null

	+image(props)