mixin sub(height, offset)
	- props = Rhythm.ExtendAttributes({}, defaults.sub, props)
	if (!height)
		- height = 16
	if (!offset)
		- offset = 1.0
	- props.style["font-size"] = Math.round(height * 0.6666666666) + "px"
	- props.style["vertical-align"] = Math.round(height * -0.16666666665 * offset) + "px"
	sub&attributes(props)
		block