mixin table(props)
	- var tableAttributesFinal = Rhythm.ExtendAttributes({ border: "0", cellspacing: "0", cellpadding: "0", width: "100%", style: { width: "100%" } }, props);
	table&attributes(tableAttributesFinal)
		block
mixin tableBody(props)
	tbody&attributes(props ? props : {})
		block
mixin tableRow(props)
	tr&attributes(props ? props : {})
		block
mixin tableCell(props)
	- var cellAttribs = { valign: "middle", style: { "vertical-align": "middle" } }
	- cellAttribs = Rhythm.ExtendAttributes(cellAttribs, props)
	td&attributes(cellAttribs)
		block