body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

.login-container {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
}

.login-container .form-group label { display: block; }

.content-iframe { width: 600px; height: 1000px; padding: 1px; border: 1px solid black; }