//- BASE MODULES
include ../modules/bar.pug
include ../modules/break.pug
include ../modules/bullets.pug
include ../modules/image.pug
include ../modules/link.pug
include ../modules/spacer.pug
include ../modules/sub.pug
include ../modules/sup.pug
include ../modules/text.pug
include ../modules/tables.pug
//- Uncomment this section to include Adestra components
	include ../modules/Adestra/linkAdestraUnsubscribe.pug
	include ../modules/Adestra/linkAdestraWebView.pug
	include ../modules/Adestra/textAdestraMerge.pug
//-
//- RECIPE MODULES
include ../recipes/AcuraButton.pug
include ../recipes/ContentContainer.pug
include ../recipes/GraphicCTA.pug
//-
//- SHARED CONSTANTS
//- Constants are essential predefined values which are used in numerous places.
- var constants = {}
- constants.ContentWidth = 600
- constants.ImagePath = "images/"
- constants.PrimaryBackgroundColor = "#FFFFFF"
- constants.PrimaryTextColor = "#000000"
- constants.PrimaryFontFamily = "'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', Helvetica, Arial, sans-serif"
- constants.AcuraRed = "#e82c2a"
//-
//- DEFAULT VARIBLES
//- Defaults are optional overrides for items that have existing default values.
- var defaults = {}
//- defaults.breakHeight = 30
//- defaults.spaceBeforeBullet = 5
//- defaults.spaceAfterBullet = 20
//-
//- BASELINE STYLES
//- 
- var styles = { "global": {} }
- styles.global["font-family"] = "Helvetica, Arial, sans-serif"
- styles.global["font-size"] = "16px"
- styles.global["text-align"] = "left"
- styles.global["color"] = constants.PrimaryTextColor
//-
- styles.header = {}
- styles.header["font-family"] = "'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Helvetica, Arial, sans-serif"
- styles.header["font-size"] = "34px"
- styles.header["text-align"] = "left"
- styles.header["color"] = constants.PrimaryTextColor
//-
//- IMPORTED STYLE SETTINGS
block vars
//-
//- CONTENT
doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
	head
		meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
		title #{pageTitle}
		style(type="text/css")
			| ReadMsgBody{ width: 100%;}
			| .ExternalClass {width: 100%;}
			| .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
			| body {-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;margin:0 !important; padding:0 !important;}
			| p { margin: 0 !important; padding:0;}
			| p { margin: 0 !important; padding:0;}
			| table td { border-collapse: collapse;}
			| img {outline:0;}
			| a img {border:none;}
			| @-ms-viewport{ width: device-width;}
		block head
	body(bgcolor=constants.PrimaryBackgroundColor,style="min-width:100%;padding:0; margin:0;-webkit-text-size-adjust:none;")

		+table({
			"align": "center",
			"width": "100%",
			"style": "background-color:" + constants.PrimaryBackgroundColor + ";"
		})
			+tableBody
				+tableRow
					+tableCell({
						"align": "center"
					})

						+table({
							"align": "center",
							"width": constants.ContentWidth,
							"style": "background-color:" + constants.PrimaryBackgroundColor + ";"
						})
							+tableBody
								+tableRow
									+tableCell({
										"valign": "top",
										"style" : styles.global
									})

										block content