//- BASE MODULES
include ./includes.pug

//- IMPORTED VARIABLES FROM CHILD PAGE
block vars

//- CONTENT
doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		meta(name="viewport", content="width=device-width")
		title #{pageTitle}
		include ./stylesheet.pug
		block head
	body(bgcolor=constants.PrimaryBackgroundColor,style="min-width:100%;padding:0;margin:0;background-color:" + constants.PrimaryBackgroundColor + "-webkit-text-size-adjust:none;")
		if (defaults.preheaderContent)
			+preheader= defaults.preheaderContent
		+table({
			"align": "center",
			"width": "100%",
			"style": "background-color:" + constants.PrimaryBackgroundColor + ";"
		})
			+tableBody
				+tableRow
					+tableCell({
						"align": "center"
					})
						+table({
							"class": "message-body-container",
							"align": "center",
							"width": constants.ContentWidth,
							"style": "background-color:" + constants.PrimaryBackgroundColor + ";"
						})
							+tableBody
								+tableRow
									+tableCell({
										"valign": "top",
										"style" : styles.global
									})
										block content