include ../modules/bar.pug
include ../modules/break.pug
include ../modules/bullets.pug
include ../modules/image.pug
include ../modules/link.pug
include ../modules/spacer.pug
include ../modules/sub.pug
include ../modules/sup.pug
include ../modules/text.pug
include ../modules/tables.pug
//- Uncomment this section to include Adestra components
	include ../modules/Adestra/linkAdestraUnsubscribe.pug
	include ../modules/Adestra/linkAdestraWebView.pug
	include ../modules/Adestra/textAdestraMerge.pug
//-
//- DEFAULT VARIBLES
- defaults = {}
- defaults.contentWidth = 600
- defaults.bodyBgColor = "#FFFFFF"
//- defaults.imagePath = "//"
//- defaults.breakHeight = 30
//- defaults.spaceBeforeBullet = 5
//- defaults.spaceAfterBullet = 20
//-
//- BASELINE STYLES
- var styles = { "global": {} }
- styles.global["font-family"] = "Arial,Helvetica,sans-serif"
- styles.global["font-size"] ="12px"
- styles.global["text-align"] ="center"
- styles.global["color"] = "#000000"
//-
//- IMPORTED STYLE SETTINGS
block vars
//-
//- CONTENT
doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
	head
		meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
		title #{pageTitle}
		style(type="text/css")
			| ReadMsgBody{ width: 100%;}
			| .ExternalClass {width: 100%;}
			| .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
			| body {-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;margin:0 !important; padding:0 !important;}
			| p { margin: 0 !important; padding:0;}
			| p { margin: 0 !important; padding:0;}
			| table td { border-collapse: collapse;}
			| img {outline:0;}
			| a img {border:none;}
			| @-ms-viewport{ width: device-width;}
		block head
	body(bgcolor=defaults.bodyBgColor,style="min-width:100%;padding:0; margin:0;-webkit-text-size-adjust:none;")

		+table({
			"align": "center",
			"width": "100%",
			"style": "background-color:" + defaults.bodyBgColor + ";"
		})
			+tableBody
				+tableRow
					+tableCell({
						"align": "center"
					})

						+table({
							"align": "center",
							"width": defaults.contentWidth,
							"style": "background-color:" + defaults.bodyBgColor + ";"
						})
							+tableBody
								+tableRow
									+tableCell({
										"valign": "top",
										"style" : styles.global
									})

										block content