style(type="text/css").
	ReadMsgBody{ width: 100%;}
	.ExternalClass {width: 100%;}
	.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
	body {-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;margin:0 !important; padding:0 !important;}
	p { margin: 0 !important; padding:0;}
	p { margin: 0 !important; padding:0;}
	table td { border-collapse: collapse;}
	img {outline:0;}
	img[src=""] { border: 0px none !important; outline: 0px none !important; }
	a img {border:none;}
	@-ms-viewport{ width: device-width;}

	@media screen and (max-width: 599px),
		   screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1199px),
		   screen and (min-resolution: 192dpi) and (max-width: 1199px) {
		.acura-body-copy { font-size: 24px !important; line-height: 40px !important; }
		.footer-small-print, .footer-small-print-link { font-size: 26px !important; line-height: 30px !important; }
		.acura-button-inner, .acura-button-arrow-text { font-size: 18px !important; line-height: 18px !important; }
		.mobile-small-text .acura-button-inner, .mobile-small-text .acura-button-arrow-text { font-size: 16px !important; line-height: 16px !important; }

		.column-container.mobile-clear { display: block !important; }
		.column-container.mobile-clear > tbody { display: block !important; }
		.column-container.mobile-clear > tbody > tr { display: block !important; }
		.column-container.mobile-clear > tbody > tr > .column-cell { display: block !important; width: 100% !important; }
		.column-container.mobile-clear > tbody > tr > .column-spacer { display: none !important; }
		.column-container.mobile-clear > tbody > tr > .column-rule { display: none !important; }

		.acura-button.mobile-wide .acura-button-inner { border-left-width: 80px !important; border-right-width: 80px !important; }

		.mobile-center { text-align: center !important; }
		.mobile-show-block { display: block !important; }
	}