//- SHARED CONSTANTS
//- Constants are essential predefined values which are used in numerous places.
- var constants = {}
- constants.ContentWidth = 600
- constants.ImagePath = "images/"
- constants.PrimaryBackgroundColor = "#FFFFFF"
- constants.PrimaryTextColor = "#000000"
- constants.AcuraRed = "#e82c2a"
- constants.DividerGray = "#afafaf"
//-
//- DEFAULT VARIBLES
//- Defaults are optional overrides for items that have existing default values.
- var defaults = {}
//- defaults.breakHeight = 30
- defaults.columnRuleColor = constants.DividerGray
//- defaults.spaceBeforeBullet = 5
//- defaults.spaceAfterBullet = 20
//-
//- FONT FAMILY DEFINITIONS
//- Font families are often very picky. Define them here to make sure they're the same everywhere.
- var fonts = {}
- fonts.normal = "'Helvetica Neue', Helvetica, Arial, sans-serif"
- fonts.ultraLight = "'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Helvetica, Arial, sans-serif"
- fonts.bold = "'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif"
//-
//- STYLE DEFINITIONS
//- Put shared style definitions here.
//- We're extending our styles into shared tag attributes, so we only need to define more than one if we've got a couple of major 
- var styles = { "global": {} }
- styles.global["font-family"] = fonts.normal
- styles.global["font-size"] = "16px"
- styles.global["text-align"] = "left"
- styles.global["color"] = constants.PrimaryTextColor
//-
//- STOCK TAG ATTRIBUTES
//- Since we're handling the possibility of archaic html rendering, we've got a variety of html attributes to support. By standardizing these into variables, we ensure that they stay the same throughout.
- var tagAttribs = {}
//-
//- BASIC COPY ELEMENTS
//-
- tagAttribs.header = {}
- tagAttribs.header.align = "left"
- tagAttribs.header.class = "acura-header"
- tagAttribs.header.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.header.style["font-family"] = fonts.ultraLight
- tagAttribs.header.style["font-size"] = "34px"
- tagAttribs.header.style["line-height"] = "34px"
//-
- tagAttribs.bodyCopy = {}
- tagAttribs.bodyCopy.align = "left"
- tagAttribs.bodyCopy.class = "acura-body-copy"
- tagAttribs.bodyCopy.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.bodyCopy.style["line-height"] = "30px"
//-
- tagAttribs.buttonCtaRow = {}
- tagAttribs.buttonCtaRow.align = "center"
- tagAttribs.buttonCtaRow.class = "acura-button-cta-row"
- tagAttribs.buttonCtaRow.style = Rhythm.ExtendStyle({}, styles.global)
//-
//- ACURA BUTTON
//-
- tagAttribs.AcuraButton = {}
- tagAttribs.AcuraButton.align = "center"
- tagAttribs.AcuraButton.class = "acura-button"
- tagAttribs.AcuraButton.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.AcuraButton.style["background-color"] = constants.PrimaryBackgroundColor
- tagAttribs.AcuraButton.style["border-color"] = constants.AcuraRed
- tagAttribs.AcuraButton.style["border-style"] = "solid"
- tagAttribs.AcuraButton.style["border-left-width"] = "2px"
- tagAttribs.AcuraButton.style["border-right-width"] = "2px"
- tagAttribs.AcuraButton.style["border-top-width"] = "2px"
- tagAttribs.AcuraButton.style["border-bottom-width"] = "2px"
- tagAttribs.AcuraButton.style["color"] = constants.PrimaryTextColor + " !important"
- tagAttribs.AcuraButton.style["display"] = "inline-block"
- tagAttribs.AcuraButton.style["font-family"] = fonts.bold
- tagAttribs.AcuraButton.style["font-size"] = "16px"
- tagAttribs.AcuraButton.style["font-weight"] = "bold"
- tagAttribs.AcuraButton.style["line-height"] = "16px"
- tagAttribs.AcuraButton.style["text-decoration"] = "none"
//-
- tagAttribs.AcuraButtonInner = {}
- tagAttribs.AcuraButtonInner.align = "center"
- tagAttribs.AcuraButtonInner.class = "acura-button-inner"
- tagAttribs.AcuraButtonInner.style = Rhythm.ExtendStyle({}, tagAttribs.AcuraButton.style)
- tagAttribs.AcuraButtonInner.style["border-color"] = constants.PrimaryBackgroundColor
- tagAttribs.AcuraButtonInner.style["border-left-width"] = tagAttribs.AcuraButton.style["font-size"]
- tagAttribs.AcuraButtonInner.style["border-right-width"] = tagAttribs.AcuraButton.style["font-size"]
- tagAttribs.AcuraButtonInner.style["border-top-width"] = tagAttribs.AcuraButton.style["font-size"]
- tagAttribs.AcuraButtonInner.style["border-bottom-width"] = tagAttribs.AcuraButton.style["font-size"]
//-
//- OFFER CTA
//-
- tagAttribs.OfferCtaWrapper = {}
- tagAttribs.OfferCtaWrapper.class = "offer-cta"
- tagAttribs.OfferCtaWrapper.style = Rhythm.ExtendStyle({}, styles.global)
//-
- tagAttribs.OfferCtaHeader = {}
- tagAttribs.OfferCtaHeader.class = "offer-cta-header"
- tagAttribs.OfferCtaHeader.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.OfferCtaHeader.style["font-size"] = "24px"
- tagAttribs.OfferCtaHeader.style["line-height"] = "24px"
- tagAttribs.OfferCtaHeader.style["text-align"] = "center"
//-
- tagAttribs.OfferCtaSubheader = {}
- tagAttribs.OfferCtaSubheader.class = "offer-cta-subheader"
- tagAttribs.OfferCtaSubheader.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.OfferCtaSubheader.style["font-family"] = fonts.bold
- tagAttribs.OfferCtaSubheader.style["font-size"] = "10px"
- tagAttribs.OfferCtaSubheader.style["font-weight"] = "bold"
- tagAttribs.OfferCtaSubheader.style["line-height"] = "16px"
- tagAttribs.OfferCtaSubheader.style["text-align"] = "center"
//-
- tagAttribs.OfferCtaStinger = {}
- tagAttribs.OfferCtaStinger.class = "offer-cta-stinger"
- tagAttribs.OfferCtaStinger.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.OfferCtaStinger.style["text-align"] = "center"
//-
- tagAttribs.OfferCtaDetails = {}
- tagAttribs.OfferCtaDetails.class = "offer-cta-details"
- tagAttribs.OfferCtaDetails.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.OfferCtaDetails.style["font-size"] = "10px"
- tagAttribs.OfferCtaDetails.style["line-height"] = "14px"
- tagAttribs.OfferCtaDetails.style["text-align"] = "center"
//-
- tagAttribs.OfferCtaLinkWrapper = {}
- tagAttribs.OfferCtaLinkWrapper.class = "offer-cta-link-wrapper"
- tagAttribs.OfferCtaLinkWrapper.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.OfferCtaLinkWrapper.style["display"] = "block"
- tagAttribs.OfferCtaLinkWrapper.style["text-align"] = "center"
//-
- tagAttribs.OfferCtaLinkContent = {}
- tagAttribs.OfferCtaLinkContent.class = "offer-cta-link-content"
- tagAttribs.OfferCtaLinkContent.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.OfferCtaLinkContent.style["border-color"] = constants.PrimaryBackgroundColor
- tagAttribs.OfferCtaLinkContent.style["border-style"] = "solid"
- tagAttribs.OfferCtaLinkContent.style["border-left-width"] = "16px"
- tagAttribs.OfferCtaLinkContent.style["border-right-width"] = "0"
- tagAttribs.OfferCtaLinkContent.style["border-top-width"] = "9px"
- tagAttribs.OfferCtaLinkContent.style["border-bottom-width"] = "9px"
- tagAttribs.OfferCtaLinkContent.style["color"] = constants.AcuraRed
- tagAttribs.OfferCtaLinkContent.style["display"] = "inline-block"
- tagAttribs.OfferCtaLinkContent.style["font-size"] = "16px"
- tagAttribs.OfferCtaLinkContent.style["font-weight"] = "bold"
- tagAttribs.OfferCtaLinkContent.style["line-height"] = "16px"
