//- SHARED CONSTANTS
//- Constants are essential predefined values which are used in numerous places.
- var constants = {}
- constants.ContentWidth = 600
- constants.ImagePath = "images/"
- constants.OuterBackgroundColor = "#eaeaea"
- constants.ContentBackgroundColor = "#ffffff"
- constants.PrimaryTextColor = "#000000"
- constants.AcuraRed = "#e82c2a"
- constants.DividerGray = "#afafaf"
- constants.FooterGray = "#9b9b9b"

//- DEFAULT VARIBLES
//- Defaults are optional overrides for items that have existing default values.
- var defaults = {}

- defaults.bar = { "class": "header-row", style: { "border-width":"2px 0 0 0", "border-style":"solid", "border-color":"#e6e6e6", "margin":"0" } }
- defaults.break = { "class": "line-break", "height":30, style: { "font-size":"1px" } }
- defaults.bullet = { "class":"bullet", bulletCharacter:"&bull;", bulletPaddingLeft: 10, bulletPaddingRight: 10 }
- defaults.bulletedContent = { "class":"bulleted-content" }
- defaults.content = { class: "content" }
- defaults.link = { }
- defaults.spacer = { "class": "spacer", "height": 1, "width": 1, "style": {} }
- defaults.sub = { style: { "line-height":"0" } }
- defaults.sup = { style: { "line-height":"0" } }

- defaults.image = { style: {} }
- defaults.image.style["margin"] = "0 auto"
- defaults.image.style["padding"] = "0"
- defaults.image.style["border"] = "0px none"
- defaults.image.style["outline"] = "0px none"
- defaults.image.style["display"] = "block"
- defaults.image.style["text-align"] = "center"
- defaults.image.style["vertical-align"] = "bottom"

//- uncomment this to embed spacers as bas64 instead of referencing them - EXPERIMENTAL
//- defaults.image.embed = true

//- PREHEADER STYLES
//- Recommended by a blog post from Email On Acid: https://www.emailonacid.com/blog/article/email-development/tips-for-coding-email-preheaders
- defaults.preheader = { style: { } }
- defaults.preheader.style["display"] = "none"
- defaults.preheader.style["visibility"] = "hidden"
- defaults.preheader.style["mso-hide"] = "all"
- defaults.preheader.style["font-size"] = "1px"
- defaults.preheader.style["color"] = "#ffffff"
- defaults.preheader.style["line-height"] = "1px"
- defaults.preheader.style["max-height"] = "0px"
- defaults.preheader.style["max-width"] = "0px"
- defaults.preheader.style["opacity"] = "0"
- defaults.preheader.style["overflow"] = "hidden"

- defaults.preheaderContent = null

//- TABLE STYLES
- defaults.table = { border: "0", cellspacing: "0", cellpadding: "0", width: "100%", style: { width: "100%" } }
- defaults.tableBody = {}
- defaults.tableRow = {}
- defaults.tableCell = { }

//- COLUMN STYLES
- defaults.columnContainer = { class: "column-container" }
- defaults.columnCell = { class: "column-cell" }
- defaults.columnSpacerCell = { align: "center", class: "column-spacer-cell", width: 20 }
- defaults.columnSpacer = { class: "column-spacer", width: 20 }
- defaults.columnRuleCell = { align: "center", class: "column-rule-cell", width: 20 }
- defaults.columnRule = { class: "column-rule", width: 1, color: "#000000" }

//- FONT FAMILY DEFINITIONS
//- Font families are often very picky. Define them here to make sure they're the same everywhere.
- var fonts = {}
- fonts.normal = "'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif"
- fonts.ultraLight = "'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif"
- fonts.light = "'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif"
- fonts.bold = "'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif"

//- STYLE DEFINITIONS
//- Put shared style definitions here.
//- We're extending our styles into shared tag attributes, so we only need to define more than one if we've got a couple of major 
- var styles = { "global": {} }
- styles.global["font-family"] = fonts.normal
- styles.global["font-size"] = "16px"
- styles.global["text-align"] = "left"
- styles.global["color"] = constants.PrimaryTextColor

- styles.rightColumnGraphic = { display: "inline-block", width: "auto", "text-align": "right" }

//- STOCK TAG ATTRIBUTES
//- Since we're handling the possibility of archaic html rendering, we've got a variety of html attributes to support. By standardizing these into variables, we ensure that they stay the same throughout.
- var tagAttribs = {}

//- BASIC COPY ELEMENTS

- tagAttribs.header = {}
- tagAttribs.header.align = "left"
- tagAttribs.header.class = "acura-header"
- tagAttribs.header.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.header.style["font-family"] = fonts.ultraLight
- tagAttribs.header.style["font-size"] = "36px"
- tagAttribs.header.style["line-height"] = "36px"

- tagAttribs.subheader = {}
- tagAttribs.subheader.align = "left"
- tagAttribs.subheader.class = "acura-subheader"
- tagAttribs.subheader.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.subheader.style["font-family"] = fonts.ultraLight
- tagAttribs.subheader.style["font-size"] = "26px"
- tagAttribs.subheader.style["line-height"] = "26px"

- tagAttribs.bodyCopy = {}
- tagAttribs.bodyCopy.align = "left"
- tagAttribs.bodyCopy.class = "acura-body-copy"
- tagAttribs.bodyCopy.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.bodyCopy.style["line-height"] = "30px"

- tagAttribs.lineSpaceExtraSmall = { class: "line-space-extra-small", height: 10 }
- tagAttribs.lineSpaceSmall = { class: "line-dspace-small", height: 30 }
- tagAttribs.lineSpaceMedium = { class: "line-space-medium", height: 50 }
- tagAttribs.lineSpaceLarge = { class: "line-space-large", height: 100 }
- tagAttribs.lineSpaceFooter = { class: "line-space-footer", height: 20 }
- tagAttribs.lineSpaceBodyCopyAlignment = { class: "line-space-body-copy-alignment", height: 7 }

- tagAttribs.ContentContainer = { class: "content-container" }
- tagAttribs.ContentContainerCell = { class: "content-container-cell" }
- tagAttribs.ContentContainerSpacer = { class: "col-space-content-container", width: 50 }
- tagAttribs.ContentContainerSpacerWide = { class: "col-space-content-container-wide", width: 25 }

- tagAttribs.graphicCtaLink = { style: {} }
- tagAttribs.graphicCtaLink.style["display"] = "block"
- tagAttribs.graphicCtaLink.style["color"] = "#000000"
- tagAttribs.graphicCtaLink.style["font-size"] = tagAttribs.header.style["font-size"]
- tagAttribs.graphicCtaLink.style["text-align"] = "center"
- tagAttribs.graphicCtaLink.style["text-decoration"] = "none"

- tagAttribs.graphicCtaImage = { style: {} }
- tagAttribs.graphicCtaImage.style["width"] = "100%"
- tagAttribs.graphicCtaImage.style["color"] = "#000000"
- tagAttribs.graphicCtaImage.style["font-size"] = tagAttribs.header.style["font-size"]

//- ACURA BUTTON

- tagAttribs.AcuraButtonOuter = {}
- tagAttribs.AcuraButtonOuter.align = "center"
- tagAttribs.AcuraButtonOuter.class = "acura-button"
- tagAttribs.AcuraButtonOuter.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.AcuraButtonOuter.style["background-color"] = constants.ContentBackgroundColor
- tagAttribs.AcuraButtonOuter.style["border-color"] = constants.AcuraRed
- tagAttribs.AcuraButtonOuter.style["border-style"] = "solid"
- tagAttribs.AcuraButtonOuter.style["border-width"] = "2px"
- tagAttribs.AcuraButtonOuter.style["padding"] = "16px"

- tagAttribs.AcuraButtonInner = {}
- tagAttribs.AcuraButtonInner.align = "center"
- tagAttribs.AcuraButtonInner.class = "acura-button-inner"
- tagAttribs.AcuraButtonInner.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.AcuraButtonOuter.style["color"] = constants.PrimaryTextColor
- tagAttribs.AcuraButtonInner.style["display"] = "inline-block"
- tagAttribs.AcuraButtonInner.style["font-family"] = fonts.bold
- tagAttribs.AcuraButtonInner.style["font-size"] = "16px"
- tagAttribs.AcuraButtonInner.style["font-weight"] = "bold"
- tagAttribs.AcuraButtonInner.style["line-height"] = "16px"
- tagAttribs.AcuraButtonInner.style["text-decoration"] = "none"

- tagAttribs.AcuraButtonBorderlessOuter = Rhythm.ExtendAttributes({}, tagAttribs.AcuraButtonOuter)
- tagAttribs.AcuraButtonBorderlessOuter.style["border-color"] = constants.ContentBackgroundColor

- tagAttribs.AcuraButtonBorderlessInner = Rhythm.ExtendAttributes({}, tagAttribs.AcuraButtonInner)
- tagAttribs.AcuraButtonBorderlessInner.style["color"] = constants.AcuraRed

- tagAttribs.AcuraButtonArrowLink = {}
- tagAttribs.AcuraButtonArrowLink.style = {}
- tagAttribs.AcuraButtonArrowLink.style["display"] = "block"
- tagAttribs.AcuraButtonArrowLink.style["text-decoration"] = "none"

- tagAttribs.AcuraButtonArrowIconOuter = {}
- tagAttribs.AcuraButtonArrowIconOuter.style = { "display":"inline-block", "line-height":"1px", "padding":"0" }

- tagAttribs.AcuraButtonArrowIconInner = {}
- tagAttribs.AcuraButtonArrowIconInner.style = { "color":constants.AcuraRed }

- tagAttribs.AcuraButtonArrowText = {}
- tagAttribs.AcuraButtonArrowText.class = "acura-button-arrow-text"
- tagAttribs.AcuraButtonArrowText.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.AcuraButtonArrowText.style["color"] = constants.AcuraRed
- tagAttribs.AcuraButtonArrowText.style["font-size"] = "16px"
- tagAttribs.AcuraButtonArrowText.style["font-weight"] = "bold"
- tagAttribs.AcuraButtonArrowText.style["line-height"] = "16px"
- tagAttribs.AcuraButtonArrowText.style["text-decoration"] = "none"

//- OFFER CTA

- tagAttribs.OfferCtaWrapper = {}
- tagAttribs.OfferCtaWrapper.class = "offer-cta"
- tagAttribs.OfferCtaWrapper.style = Rhythm.ExtendStyle({}, styles.global)

- tagAttribs.OfferCtaContentWrapper = { style: { "text-align":"center", "line-height":"8px" } }

- tagAttribs.OfferCtaHeader = {}
- tagAttribs.OfferCtaHeader.class = "offer-cta-header"
- tagAttribs.OfferCtaHeader.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.OfferCtaHeader.style["display"] = "inline-block"
- tagAttribs.OfferCtaHeader.style["font-size"] = "24px"
- tagAttribs.OfferCtaHeader.style["font-family"] = fonts.light
- tagAttribs.OfferCtaHeader.style["line-height"] = "24px"
- tagAttribs.OfferCtaHeader.style["text-align"] = "center"
- tagAttribs.OfferCtaHeader.style["text-decoration"] = "none"

- tagAttribs.OfferCtaSubheader = {}
- tagAttribs.OfferCtaSubheader.class = "offer-cta-subheader"
- tagAttribs.OfferCtaSubheader.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.OfferCtaSubheader.style["display"] = "inline-block"
- tagAttribs.OfferCtaSubheader.style["font-family"] = fonts.bold
- tagAttribs.OfferCtaSubheader.style["font-size"] = "14px"
- tagAttribs.OfferCtaSubheader.style["font-weight"] = "bold"
- tagAttribs.OfferCtaSubheader.style["line-height"] = "14px"
- tagAttribs.OfferCtaSubheader.style["text-align"] = "center"
- tagAttribs.OfferCtaSubheader.style["text-decoration"] = "none"

- tagAttribs.OfferCtaStingerContent = {}
- tagAttribs.OfferCtaStingerContent.class = "offer-cta-stinger"
- tagAttribs.OfferCtaStingerContent.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.OfferCtaStingerContent.style["display"] = "inline-block"
- tagAttribs.OfferCtaStingerContent.style["font-size"] = "14px"
- tagAttribs.OfferCtaStingerContent.style["line-height"] = "16px"
- tagAttribs.OfferCtaStingerContent.style["text-align"] = "left"
- tagAttribs.OfferCtaStingerContent.style["text-decoration"] = "none"

- tagAttribs.OfferCtaStingerBigText = {}
- tagAttribs.OfferCtaStingerBigText.class = "offer-cta-stinger-big-text"
- tagAttribs.OfferCtaStingerBigText.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.OfferCtaStingerBigText.style["display"] = "inline-block"
- tagAttribs.OfferCtaStingerBigText.style["font-size"] = "30px"
- tagAttribs.OfferCtaStingerBigText.style["line-height"] = "32px"
- tagAttribs.OfferCtaStingerBigText.style["text-align"] = "right"
- tagAttribs.OfferCtaStingerBigText.style["text-decoration"] = "none"

- tagAttribs.OfferCtaDetails = {}
- tagAttribs.OfferCtaDetails.class = "offer-cta-details"
- tagAttribs.OfferCtaDetails.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.OfferCtaDetails.style["display"] = "inline-block"
- tagAttribs.OfferCtaDetails.style["font-size"] = "11px"
- tagAttribs.OfferCtaDetails.style["line-height"] = "14px"
- tagAttribs.OfferCtaDetails.style["text-align"] = "center"
- tagAttribs.OfferCtaDetails.style["text-decoration"] = "none"

- tagAttribs.OfferCtaLinkWrapper = {}
- tagAttribs.OfferCtaLinkWrapper.class = "offer-cta-link-wrapper"
- tagAttribs.OfferCtaLinkWrapper.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.OfferCtaLinkWrapper.style["display"] = "inline-block"
- tagAttribs.OfferCtaLinkWrapper.style["text-align"] = "center"

- tagAttribs.OfferCtaLinkContent = {}
- tagAttribs.OfferCtaLinkContent.class = "offer-cta-link-content"
- tagAttribs.OfferCtaLinkContent.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.OfferCtaLinkContent.style["border-color"] = constants.ContentBackgroundColor
- tagAttribs.OfferCtaLinkContent.style["border-style"] = "solid"
- tagAttribs.OfferCtaLinkContent.style["border-left-width"] = "16px"
- tagAttribs.OfferCtaLinkContent.style["border-right-width"] = "0"
- tagAttribs.OfferCtaLinkContent.style["border-top-width"] = "9px"
- tagAttribs.OfferCtaLinkContent.style["border-bottom-width"] = "9px"
- tagAttribs.OfferCtaLinkContent.style["color"] = constants.AcuraRed
- tagAttribs.OfferCtaLinkContent.style["display"] = "inline-block"
- tagAttribs.OfferCtaLinkContent.style["font-size"] = "16px"
- tagAttribs.OfferCtaLinkContent.style["font-weight"] = "bold"
- tagAttribs.OfferCtaLinkContent.style["line-height"] = "16px"

//- AD CALLOUT

- tagAttribs.AdCallout = {}
- tagAttribs.AdCallout.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.AdCallout.style["border-width"] = "2px"
- tagAttribs.AdCallout.style["border-style"] = "solid"
- tagAttribs.AdCallout.style["border-color"] = "#e1e1e1"
- tagAttribs.AdCallout.style["padding"] = "26px"

//- FOOTER

- tagAttribs.Footer = {}
- tagAttribs.Footer.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.Footer.style["color"] = "#ffffff"
- tagAttribs.Footer.style["background-color"] = "#000000"

- tagAttribs.FooterContent = {}
- tagAttribs.FooterContent.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.FooterContent.style["color"] = "#ffffff"
- tagAttribs.FooterContent.style["background-color"] = "#000000"

- tagAttribs.FooterSmallPrint = {}
- tagAttribs.FooterSmallPrint.class = "footer-small-print"
- tagAttribs.FooterSmallPrint.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.FooterSmallPrint.style["color"] = constants.FooterGray
- tagAttribs.FooterSmallPrint.style["font-size"] = "13px"
- tagAttribs.FooterSmallPrint.style["line-height"] = "1.71"
- tagAttribs.FooterSmallPrint.style["text-align"] = "left"

- tagAttribs.FooterLink = {}
- tagAttribs.FooterLink.class = "footer-small-print-link"
- tagAttribs.FooterLink.style = Rhythm.ExtendStyle({}, tagAttribs.FooterSmallPrint.style)
- tagAttribs.FooterLink.style["color"] = constants.FooterGray

- tagAttribs.FooterBoldText = {}
- tagAttribs.FooterBoldText.style = Rhythm.ExtendStyle({}, styles.global)
- tagAttribs.FooterBoldText.style["color"] = "#ffffff"
- tagAttribs.FooterBoldText.style["font-family"] = fonts.bold
- tagAttribs.FooterBoldText.style["font-size"] = "1em"
- tagAttribs.FooterBoldText.style["font-weight"] = "bold"
