include ../modules/link.pug
mixin AcuraButton(url, outerProps, innerProps)
	- outerProps = Rhythm.ExtendAttributes({}, tagAttribs.AcuraButtonOuter, outerProps)
	- innerProps = Rhythm.ExtendAttributes({}, tagAttribs.AcuraButtonInner, innerProps)
				
	+table({ width: "auto", style: { "margin":"0 auto" } })
		+tableRow
			+tableCell(outerProps)

				+link(url, innerProps)
					block