include ../modules/link.pug
mixin AcuraButton(url, props)
	- var outerProps = Rhythm.ExtendAttributes({}, tagAttribs.AcuraButtonOuter, props)
	- var innerProps = Rhythm.ExtendAttributes({}, tagAttribs.AcuraButtonInner, props)

	if (props.borderColor)
		- outerProps.style["border-color"] = props.borderColor
		- outerProps.borderColor = null
		- innerProps.borderColor = null

	if (props.sidePadding)
		- innerProps.style["border-left-width"] = props.sidePadding
		- innerProps.style["border-right-width"] = props.sidePadding
		- outerProps.borderColor = null
		- innerProps.borderColor = null

	if (props.verticalPadding)
		- innerProps.style["border-top-width"] = props.verticalPadding
		- innerProps.style["border-bottom-width"] = props.verticalPadding
		- outerProps.verticalPadding = null
		- innerProps.verticalPadding = null

	if (props.backgroundColor)
		- innerProps.style["border-color"] = props.backgroundColor
		- innerProps.style["background-color"] = props.backgroundColor
		- outerProps.backgroundColor = null
		- innerProps.backgroundColor = null

	if (props.textColor)
		- innerProps.style["color"] = props.textColor
		- outerProps.textColor = null
		- innerProps.textColor = null

	if (props.fontSize)
		- outerProps.style["font-size"] = props.fontSize
		- innerProps.style["font-size"] = props.fontSize
		- outerProps.fontSize = null
		- innerProps.fontSize = null

	+link(url, outerProps)
		div&attributes(innerProps)
			block