include ./AcuraButton.pug
include ../modules/image.pug
mixin AcuraButtonArrow(url, props)
	- props = Rhythm.ExtendAttributes({}, tagAttribs.AcuraButtonArrowLink, props);
	+link(url, props)
		+table({ height: 34, style: { "text-decoration": "none !important" } })
			+tableBody({ style: { "text-decoration": "none !important" } })
				+tableRow({ height: 34, style: { "text-decoration": "none !important" } })
					+tableCell({ height: 34, width: 34, valign: "top", style: { "text-decoration": "none !important" } })
						+AcuraButton(null, tagAttribs.AcuraButtonArrowIconOuter, tagAttribs.AcuraButtonArrowIconInner)
							+image({ relativeSrc: "link-arrow-2x.png", alt: "&gt;", width: 30, height: 30, style: { display: "block", "line-height":"30px" } })
					+tableCell({ height: 34, align: "left", valign: "top", style: { "text-decoration": "none !important" } })
						div&attributes(tagAttribs.AcuraButtonArrowText)
							block