include ../modules/link.pug
mixin AcuraButton(url, props)
	if (!props)
		- props = {}
	- var outerStyle = { style: {} }
	if (props.class)
		- outerStyle.class = props.class
	if (props.width)
		- outerStyle.style["width"] = props.width
	if (props.borderColor)
		- outerStyle.style["border-color"] = props.borderColor
	- var innerStyle = { style: {} }
	if (props.sidePadding)
		- innerStyle.style["border-left-width"] = props.sidePadding
		- innerStyle.style["border-right-width"] = props.sidePadding
	if (props.verticalPadding)
		- innerStyle.style["border-top-width"] = props.verticalPadding
		- innerStyle.style["border-bottom-width"] = props.verticalPadding
	if (props.backgroundColor)
		- innerStyle.style["border-color"] = props.backgroundColor
		- innerStyle.style["background-color"] = props.backgroundColor
	if (props.textColor)
		- innerStyle.style["color"] = props.textColor
	if (props.fontSize)
		- innerStyle.style["font-size"] = props.fontSize
	+link(url, Rhythm.ExtendAttributes({}, tagAttribs.AcuraButton, outerStyle))
		span&attributes(Rhythm.ExtendAttributes({}, tagAttribs.AcuraButtonInner, innerStyle))
			block