include ./ContentContainer.pug
mixin AdCallout(props)
	+ContentContainer
		+link(props.url, { style: { display: "block", "text-decoration": "none !important" } })
			+content(tagAttribs.AdCalloutOuter)
				+content(tagAttribs.AdCalloutInner)
					block