include ../modules/tables.pug
include ../modules/spacer.pug
mixin ContentContainer(props)
	- props = props ? props : {}
	- var spacerProps = props.spacer ? props.spacer : tagAttribs.colSpaceContentContainer
	+table({ class: "content-container" })
		+tableBody
			+tableRow
				+tableCell({ width: spacerProps.width })
					+spacer(spacerProps)
				+tableCell
					block
				+tableCell({ width: spacerProps.width })
					+spacer(spacerProps)