include ../modules/tables.pug
include ../modules/spacer.pug
mixin ContentContainer(tableProps, cellProps, spacerProps)
	- tableProps = Rhythm.ExtendAttributes({}, tagAttribs.ContentContainer, tableProps)
	- cellProps = Rhythm.ExtendAttributes({}, tagAttribs.ContentContainerCell, cellProps)
	- spacerProps = Rhythm.ExtendAttributes({}, tagAttribs.ContentContainerSpacer, spacerProps) 
	+table(tableProps)
		+tableBody
			+tableRow
				+tableCell({ width: spacerProps.width })
					+spacer(spacerProps)
				+tableCell(cellProps)
					block
				+tableCell({ width: spacerProps.width })
					+spacer(spacerProps)