include ../modules/tables.pug
include ../modules/spacer.pug
mixin ContentContainer(containerProps, contentProps)
	- var containerPadding = containerProps && containerProps.padding ? containerProps.padding : 50
	- contentPropsFinal = Rhythm.ExtendAttributes({ align: "center" }, contentProps ? contentProps : {})
	+table
		+tableBody
			+tableRow
				+tableCell({ width: containerPadding })
					+spacer({ width: containerPadding })
				+tableCell(contentPropsFinal)
					block
				+tableCell({ width: containerPadding })
					+spacer({ width: containerPadding })