include ../modules/spacer.pug
include ./ContentContainer.pug
mixin Footer(props)
	+content(tagAttribs.Footer)
		+spacer(tagAttribs.lineSpaceMedium)
		+ContentContainer
			+GraphicCTA({
				graphicUrl: "acura-logo-white.png",
				graphicAlt: null,
				graphicStyle: { display: "inline-block", width: "auto", "text-align": "center" }
			})
		+spacer(tagAttribs.lineSpaceMedium)
		+ContentContainer
			+table
				+tableBody
					+tableRow
						+tableCell({ width: 80, align: "left" })
							+GraphicCTA({
								linkUrl: "",
								graphicUrl: "footer-icon-facebook.png",
								graphicAlt: null,
								graphicStyle: { display: "inline-block", width: "auto", "text-align": "left" }
							})
						+tableCell({ width: 120, align: "center" })
							+GraphicCTA({
								linkUrl: "",
								graphicUrl: "footer-icon-twitter.png",
								graphicAlt: null,
								graphicStyle: { display: "inline-block", width: "auto", "text-align": "center" }
							})
						+tableCell({ width: 100, align: "center" })
							+GraphicCTA({
								linkUrl: "",
								graphicUrl: "footer-icon-instagram.png",
								graphicAlt: null,
								graphicStyle: { display: "inline-block", width: "auto", "text-align": "center" }
							})
						+tableCell({ width: 120, align: "center" })
							+GraphicCTA({
								linkUrl: "",
								graphicUrl: "footer-icon-pinterest.png",
								graphicAlt: null,
								graphicStyle: { display: "inline-block", width: "auto", "text-align": "center" }
							})
						+tableCell({ width: 80, align: "right" })
							+GraphicCTA({
								linkUrl: "",
								graphicUrl: "footer-icon-youtube.png",
								graphicAlt: null,
								graphicStyle: { display: "inline-block", width: "auto", "text-align": "right" }
							})
		+spacer(tagAttribs.lineSpaceMedium)
		+ContentContainer
			+table
				+tableBody
					+tableRow
						+tableCell({ width: 160, align: "left" })
							+link("#", tagAttribs.FooterLink)
								| Privacy Policy
						+tableCell({ width: 180, align: "center" })
							+link("#", tagAttribs.FooterLink)
								| Terms and Conditions
						+tableCell({ width: 160, align: "right" })
							+link(null, tagAttribs.FooterLink)
								| &copy;2016 Acura
		+spacer(tagAttribs.lineSpaceMedium)
		+ContentContainer
			block
			+content(tagAttribs.FooterSmallPrint)
				| &copy;2016 Acura. 1919 Torrance Blvd., Torrance, CA 90501
		+spacer(tagAttribs.lineSpaceMedium)