include ../modules/spacer.pug
include ./ContentContainer.pug
mixin Footer(props)
	+content(tagAttribs.Footer)
		+spacer(tagAttribs.lineSpaceMedium)
		+ContentContainer
			+GraphicCTA("http://www.acura.com/", {}, {
				relativeSrc: "acura-logo-white.png",
				alt: "ACURA | PRECISION CRAFTED PERFORMANCE",
				width: 149,
				height: 98,
				style: { display: "inline-block", width: "auto", "text-align": "center" }
			})
		+spacer(tagAttribs.lineSpaceMedium)
		+ContentContainer
			+table
				+tableBody
					+tableRow
						+tableCell({ width: 80, align: "left" })
							+GraphicCTA("https://www.facebook.com/Acura", {}, {
								relativeSrc: "footer-icon-facebook.png",
								alt: "Facebook",
								width: 55,
								height: 55,
								style: { display: "inline-block", width: "auto", "text-align": "left" }
							})
						+tableCell({ width: 120, align: "center" })
							+GraphicCTA("https://twitter.com/Acura", {}, {
								relativeSrc: "footer-icon-twitter.png",
								alt: "Twitter",
								width: 55,
								height: 55,
								style: { display: "inline-block", width: "auto", "text-align": "center" }
							})
						+tableCell({ width: 100, align: "center" })
							+GraphicCTA("https://www.instagram.com/acura/", {}, {
								relativeSrc: "footer-icon-instagram.png",
								alt: "Instagram",
								width: 55,
								height: 55,
								style: { display: "inline-block", width: "auto", "text-align": "center" }
							})
						+tableCell({ width: 120, align: "center" })
							+GraphicCTA("https://www.pinterest.com/Acura/pins/follow/", {}, {
								relativeSrc: "footer-icon-pinterest.png",
								alt: "Pinterest",
								width: 55,
								height: 55,
								style: { display: "inline-block", width: "auto", "text-align": "center" }
							})
						+tableCell({ width: 80, align: "right" })
							+GraphicCTA("https://www.youtube.com/user/Acura", {}, {
								relativeSrc: "footer-icon-youtube.png",
								alt: "YouTube",
								width: 55,
								height: 55,
								style: { display: "inline-block", width: "auto", "text-align": "right" }
							})
		+spacer(tagAttribs.lineSpaceMedium)
		+ContentContainer
			+table
				+tableBody
					+tableRow
						+tableCell({ width: 130, align: "left" })
							+link("http://www.acura.com/Privacy.aspx", tagAttribs.FooterLink)
								| Privacy Policy
						+tableCell({ width: 240, align: "center" })
							+link("http://www.acura.com/TermsConditions.aspx", tagAttribs.FooterLink)
								| Terms and Conditions
						+tableCell({ width: 130, align: "right" })
							+link(null, tagAttribs.FooterLink)
								| &copy;2016 Acura
		+spacer(tagAttribs.lineSpaceMedium)
		+ContentContainer
			block
			+content(tagAttribs.FooterSmallPrint)
				| &copy;2016 Acura. 1919 Torrance Blvd., Torrance, CA 90501
		+spacer(tagAttribs.lineSpaceMedium)