include ../modules/spacer.pug
include ./ContentContainer.pug
mixin Footer(props)
	+content(tagAttribs.Footer)
		+spacer(tagAttribs.lineSpaceMedium)
		+ContentContainer
			+GraphicCTA({
				graphicUrl: "acura-logo-white.png",
				graphicAlt: "ACURA | PRECISION CRAFTED PERFORMANCE",
				graphicStyle: { display: "inline-block", width: "auto", "text-align": "center" }
			})
		+spacer(tagAttribs.lineSpaceMedium)
		+ContentContainer
			+table
				+tableBody
					+tableRow
						+tableCell({ width: 80, align: "left" })
							+GraphicCTA({
								linkUrl: "https://www.facebook.com/Acura",
								graphicUrl: "footer-icon-facebook.png",
								graphicAlt: "Facebook",
								graphicStyle: { display: "inline-block", width: "auto", "text-align": "left" }
							})
						+tableCell({ width: 120, align: "center" })
							+GraphicCTA({
								linkUrl: "https://twitter.com/Acura",
								graphicUrl: "footer-icon-twitter.png",
								graphicAlt: "Twitter",
								graphicStyle: { display: "inline-block", width: "auto", "text-align": "center" }
							})
						+tableCell({ width: 100, align: "center" })
							+GraphicCTA({
								linkUrl: "https://www.instagram.com/acura/",
								graphicUrl: "footer-icon-instagram.png",
								graphicAlt: "Instagram",
								graphicStyle: { display: "inline-block", width: "auto", "text-align": "center" }
							})
						+tableCell({ width: 120, align: "center" })
							+GraphicCTA({
								linkUrl: "https://www.pinterest.com/Acura/pins/follow/",
								graphicUrl: "footer-icon-pinterest.png",
								graphicAlt: "Pinterest",
								graphicStyle: { display: "inline-block", width: "auto", "text-align": "center" }
							})
						+tableCell({ width: 80, align: "right" })
							+GraphicCTA({
								linkUrl: "https://www.youtube.com/user/Acura",
								graphicUrl: "footer-icon-youtube.png",
								graphicAlt: "YouTube",
								graphicStyle: { display: "inline-block", width: "auto", "text-align": "right" }
							})
		+spacer(tagAttribs.lineSpaceMedium)
		+ContentContainer
			+table
				+tableBody
					+tableRow
						+tableCell({ width: 130, align: "left" })
							+link("http://www.acura.com/Privacy.aspx", tagAttribs.FooterLink)
								| Privacy Policy
						+tableCell({ width: 240, align: "center" })
							+link("http://www.acura.com/TermsConditions.aspx", tagAttribs.FooterLink)
								| Terms and Conditions
						+tableCell({ width: 130, align: "right" })
							+link(null, tagAttribs.FooterLink)
								| &copy;2016 Acura
		+spacer(tagAttribs.lineSpaceMedium)
		+ContentContainer
			block
			+content(tagAttribs.FooterSmallPrint)
				| &copy;2016 Acura. 1919 Torrance Blvd., Torrance, CA 90501
		+spacer(tagAttribs.lineSpaceMedium)