include ../modules/spacer.pug
include ./ContentContainer.pug
mixin Footer(props)
	- var footerTracking = extend({}, tracking);

	- var footerUrls = {}

	- footerUrls.AcuraLogo = Rhythm.BuildUrl({ url: "http://www.acura.com/", query: [ footerTracking, { "utm_content":"acura-logo-footer" } ] })

	- footerUrls.Facebook = Rhythm.BuildUrl({ url: "https://www.facebook.com/Acura", query: [ footerTracking, { "utm_content":"" } ] })
	- footerUrls.Twitter = Rhythm.BuildUrl({ url: "https://twitter.com/Acura", query: [ footerTracking, { "utm_content":"" } ] })
	- footerUrls.Instagram = Rhythm.BuildUrl({ url: "https://www.instagram.com/acura/", query: [ footerTracking, { "utm_content":"" } ] })
	- footerUrls.Pinterest = Rhythm.BuildUrl({ url: "https://www.pinterest.com/Acura/pins/follow/", query: [ footerTracking, { "utm_content":"" } ] })
	- footerUrls.YouTube = Rhythm.BuildUrl({ url: "https://www.youtube.com/user/Acura", query: [ footerTracking, { "utm_content":"" } ] })

	- footerUrls.Privacy = Rhythm.BuildUrl({ url: "http://www.acura.com/Privacy.aspx", query: [ footerTracking, { "utm_content":"" } ] })
	- footerUrls.TermsAndConditions = Rhythm.BuildUrl({ url: "http://www.acura.com/TermsConditions.aspx", query: [ footerTracking, { "utm_content":"" } ] })

	- footerUrls.Unsubscribe = Rhythm.BuildUrl({ url: "http://www.acura.com/VB/PreferenceCenter/UpdatePreference.aspx", query: [ footerTracking, { "utm_content":"" } ] })

	+content(tagAttribs.Footer)
		+spacer(tagAttribs.lineSpaceMedium)
		+ContentContainer
			+GraphicCTA(footerUrls.AcuraLogo, {}, {
				relativeSrc: "acura-logo-white.png",
				alt: "ACURA precision crafted performance",
				width: 149,
				height: 98,
				style: { color:"#ffffff", "font-size": "20px" }
			})
		+spacer(tagAttribs.lineSpaceMedium)
		+ContentContainer
			+table
				+tableBody
					+tableRow
						+tableCell({ width: 80, align: "left" })
							+GraphicCTA(footerUrls.Facebook, {}, {
								relativeSrc: "footer-icon-facebook.png",
								alt: "Facebook",
								width: 55,
								height: 55,
								style: { "text-align": "left", color: "#ffffff", "font-size":"12px", "line-height":"55px" }
							})
						+tableCell({ width: 120, align: "center" })
							+GraphicCTA(footerUrls.Twitter, {}, {
								relativeSrc: "footer-icon-twitter.png",
								alt: "Twitter",
								width: 55,
								height: 55,
								style: { "text-align": "center", color: "#ffffff", "font-size":"12px", "line-height":"55px" }
							})
						+tableCell({ width: 100, align: "center" })
							+GraphicCTA(footerUrls.Instagram, {}, {
								relativeSrc: "footer-icon-instagram.png",
								alt: "Instagram",
								width: 55,
								height: 55,
								style: { "text-align": "center", color: "#ffffff", "font-size":"12px", "line-height":"55px" }
							})
						+tableCell({ width: 120, align: "center" })
							+GraphicCTA(footerUrls.Pinterest, {}, {
								relativeSrc: "footer-icon-pinterest.png",
								alt: "Pinterest",
								width: 55,
								height: 55,
								style: { "text-align": "center", color: "#ffffff", "font-size":"12px", "line-height":"55px" }
							})
						+tableCell({ width: 80, align: "right" })
							+GraphicCTA(footerUrls.YouTube, {}, {
								relativeSrc: "footer-icon-youtube.png",
								alt: "YouTube",
								width: 55,
								height: 55,
								style: { "text-align": "right", color: "#ffffff", "font-size":"12px", "line-height":"55px" }
							})
		+spacer(tagAttribs.lineSpaceMedium)
		+ContentContainer
			+table
				+tableBody
					+tableRow
						+tableCell({ width: 130, align: "left" })
							+link(footerUrls.Privacy, tagAttribs.FooterLink)
								| Privacy Policy
						+tableCell({ width: 240, align: "center" })
							+link(footerUrls.TermsAndConditions, tagAttribs.FooterLink)
								| Terms and Conditions
						+tableCell({ width: 130, align: "right" })
							+link(null, tagAttribs.FooterLink)
								| &copy;2016 Acura
		+spacer(tagAttribs.lineSpaceMedium)
		+ContentContainer
			block
			+spacer(tagAttribs.lineSpaceFooter)
			+content(tagAttribs.FooterSmallPrint)
				| Please do not reply to this email. You have received this email because you signed up to receive information from Acura. To opt out of future promotional email communications and to update your preferences, #[+link(footerUrls.Unsubscribe, tagAttribs.FooterLink) please click here]. If you are using a mobile device and are unable to opt out, please open this email on a desktop computer and click on the opt-out link from there. All information contained herein applies to U.S. vehicles only. See our Privacy Policy.
			+spacer(tagAttribs.lineSpaceFooter)
			+content(tagAttribs.FooterSmallPrint)
				| &copy;2016 Acura. 1919 Torrance Blvd., Torrance, CA 90501
		+spacer(tagAttribs.lineSpaceMedium)