mixin GraphicCTA(props)
	- props = props ? props : {}
	div.graphic-cta
		+link(props.linkUrl, { style: { display: "block", "text-align": ((props && props.graphicStyle && props.graphicStyle["text-align"]) ? props.graphicStyle["text-align"] : "center") } })
			+image({
				relativeSrc: props.graphicUrl,
				alt: props.graphicAlt,
				style: Rhythm.ExtendStyle({ width: "100%" }, props.graphicStyle)
			})