mixin GraphicCTA(props)
	div.graphic-cta
		+link(props.linkUrl, { style: { display: "block" } })
			+image({
				src: constants.ImagePath + props.graphicUrl,
				alt: props.graphicAlt,
				style: Rhythm.ExtendStyle({ width: "100%" }, props.graphicStyle)
			})