mixin GraphicCTA(url, linkProps, graphicProps)
	- linkProps = Rhythm.ExtendStyle({}, tagAttribs.graphicCtaLink, linkProps)
	- graphicProps = Rhythm.ExtendStyle({}, tagAttribs.graphicCtaImage, graphicProps)
	div.graphic-cta
		+link(url, linkProps)
			+image(graphicProps)