include ../modules/content.pug
include ./AcuraButtonArrow.pug
mixin OfferCTA(props)
	+content(tagAttribs.OfferCtaWrapper)
		block
mixin OfferCTA_Header(props)
	+content(tagAttribs.OfferCtaHeader)
		block
mixin OfferCTA_Subheader(props)
	+content(tagAttribs.OfferCtaSubheader)
		block
mixin OfferCTA_Stinger(props)
	+table({ width: "", style: { width: "auto", "margin-left": "auto", "margin-right": "auto" } })
		+tableBody
			+tableRow
				+tableCell
					+content(tagAttribs.OfferCtaStingerBigText)= props.bigText
				+tableCell({ width: 10 })
					+spacer({ width: 10 })
				+tableCell
					+content(tagAttribs.OfferCtaStingerContent)
						block
mixin OfferCTA_Details(props)
	+content(tagAttribs.OfferCtaDetails)
		block
mixin OfferCTA_Link(url, buttonProps)
	- buttonProps = Rhythm.ExtendAttributes({}, tagAttribs.OfferCtaLinkWrapper, buttonProps)
	+content({ style: { "text-align":"center" } })
		+AcuraButtonArrow(url, buttonProps)
			block