include ../modules/content.pug
mixin OfferCTA(props)
	+content(tagAttribs.OfferCtaWrapper)
		block
mixin OfferCTA_Header(props)
	+content(tagAttribs.OfferCtaHeader)
		block
mixin OfferCTA_Subheader(props)
	+content(tagAttribs.OfferCtaSubheader)
		block
mixin OfferCTA_Stinger(props)
	+content(tagAttribs.OfferCtaStinger)
		block
mixin OfferCTA_Details(props)
	+content(tagAttribs.OfferCtaDetails)
		block
mixin OfferCTA_Link(props)
	if (!props)
		- props = {}
	+content
		+link(props.url, tagAttribs.OfferCtaLinkWrapper)
			+AcuraButton(null, { width: "34px", sidePadding: "0", verticalPadding: "10px", textColor: constants.AcuraRed })
				| &gt;
			span&attributes(tagAttribs.OfferCtaLinkContent)
				block