extends ./layouts/default.pug
//-
block vars
//-
block head
//-
block content
	+GraphicCTA({
		linkUrl: "http://google.com",
		linkTracking: null,
		graphicUrl: "header-tlx-white.png",
		graphicAlt: "ACURA | TLX"
	})
	+GraphicCTA({
		linkUrl: "http://google.com",
		linkTracking: null,
		graphicUrl: "tlx-gt-hero-animation.gif",
		graphicAlt: null
	})
	+ContentContainer
		+spacer({ height: 40 })
		+content(tagAttribs.header)
			| Break The Mold, Not The Bank
		+spacer({ height: 35 })
		+content(tagAttribs.bodyCopy)
			| You&rsquo;ve been good all year &ndash; maybe it&rsquo;s time to gift yourself with an eye-catching TLX. Here are a couple of ideas to spice up the holidays.
		+spacer({ height: 50 })
		+content(tagAttribs.buttonCtaRow)
			+AcuraButton("http://google.com", { sidePadding: "50px" })
				| EXPLORE TLX
	+ContentContainer({ padding: 35 })
		+columns
			+column({ width: 299 })
				+OfferCTA
					+OfferCTA_Header
						| Featured APR Offer
					+spacer({ height: 18 })
					+OfferCTA_Subheader
						| 2016 TLX Special APR
					+spacer({ height: 25 })
					+OfferCTA_Stinger
						| 0.9% APR for 60 months
					+spacer({ height: 12 })
					+OfferCTA_Details
						| For well qualified buyers and buyers that qualify for the Acura Graduate Program criteria.
					+spacer({ height: 60 })
					+OfferCTA_Link
						| SEE TLX OFFERS
			+columnRule({ width: 40, height: 470, lineWidth: 1, lineHeight: 470 })
			+column({ width: 300 })
				+OfferCTA
					+OfferCTA_Header
						| Featured Lease Offer
					+spacer({ height: 18 })
					+OfferCTA_Subheader
						| 2016 TLX 8 Speed Dual-Clutch P-AWS#[br]Featured Special Lease
					+spacer({ height: 8 })
					+OfferCTA_Stinger
						| $299 per month for 36 months#[br]$2499 total due at signing
					+spacer({ height: 12 })
					+OfferCTA_Details
						| Includes down payment with no security deposit. Excludes taxes, titles and either dealer fees or documentary service fee. For well-qualified lessees.
					+spacer({ height: 60 })
					+OfferCTA_Link
						| BUILD &amp; PRICE YOUR TLX
	+GraphicCTA({
		linkUrl: "http://google.com",
		linkTracking: null,
		graphicUrl: "tlx-gt-red-sideview.jpg",
		graphicAlt: null
	})