extends ./layouts/default.pug

block vars
	- constants.ImagePath = "example-newsletter-a/"
	- defaults.preheaderContent = "[First Name], See the new TLX GT Package and find great seasonal savings."

	- var tracking = {}
	- tracking["utm_source"] = "newsletter"
	- tracking["utm_medium"] = "email"
	- tracking["utm_campaign"] = "at7886"
	//- tracking["utm_term"] = ""
	//- tracking["utm_content"] = ""

	- var urls = {}

	- urls.See_Tlx_Gt_Package_Header = Rhythm.BuildUrl({ url: "http://www.acura.com/tlx/packages", query: [ tracking, { "utm_content":"email-header" } ], fragment: "multi-feature-box-gt" })
	- urls.See_Tlx_Gt_Package_Graphic = Rhythm.BuildUrl({ url: "http://www.acura.com/tlx/packages", query: [ tracking, { "utm_content":"main-image" } ], fragment: "multi-feature-box-gt" })
	- urls.See_Tlx_Gt_Package_CTA = Rhythm.BuildUrl({ url: "http://www.acura.com/tlx/packages", query: [ tracking, { "utm_content":"tlx-package-page" } ], fragment: "multi-feature-box-gt" })
	- urls.Watch_Tlx_Gt_Package_Video = Rhythm.BuildUrl({ url: "https://www.youtube.com/watch", query: [ { v: "8nLd6C5O1HM" }, tracking, { "utm_content":"tlx-accessory-video" } ] })

	- urls.See_Great_Offers_Graphic = Rhythm.BuildUrl({ url: "http://www.acura.com/tools/shopping/CurrentOffersFinance.aspx", query: [ tracking, { "utm_content":"image-current-offers" } ] })
	- urls.See_Great_Offers_CTA = Rhythm.BuildUrl({ url: "http://www.acura.com/tools/shopping/CurrentOffersFinance.aspx", query: [ tracking, { "utm_content":"gift-guide-current-offers" } ] })

	- urls.Shop_Lifestyle_Collection_Graphic = Rhythm.BuildUrl({ url: "https://orders.corp-imaging.com/nsx/", query: [ tracking, { "utm_content":"image-nsx-lifestyle" } ] })
	- urls.Shop_Lifestyle_Collection_CTA = Rhythm.BuildUrl({ url: "https://orders.corp-imaging.com/nsx/", query: [ tracking, { "utm_content":"gift-guide-nsx-gear" } ] })

	- urls.Shop_Parts_Accessories_Graphic = Rhythm.BuildUrl({ url: "http://estore.honda.com/acura/customer-home.asp", query: [ tracking, { "utm_content":"image-acura-accessories" } ] })
	- urls.Shop_Parts_Accessories_CTA = Rhythm.BuildUrl({ url: "http://estore.honda.com/acura/customer-home.asp", query: [ tracking, { "utm_content":"gift-guide-acura-accessories" } ] })

	- urls.Shop_Apparel_Graphic = Rhythm.BuildUrl({ url: "http://acura.merchandisecollection.com/", query: [ tracking, { "utm_content":"image-acura-merchandise" } ] })
	- urls.Shop_Apparel_CTA = Rhythm.BuildUrl({ url: "http://acura.merchandisecollection.com/", query: [ tracking, { "utm_content":"gift-guide-acura-merchandise" } ] })

	- urls.Explore_The_Nsx_Graphic = Rhythm.BuildUrl({ url: "http://nsx.acura.com/explore/nsx", query: [ tracking, { "utm_content":"image-nsx-explore" } ] })
	- urls.Explore_The_Nsx_CTA = Rhythm.BuildUrl({ url: "http://nsx.acura.com/explore/nsx", query: [ tracking, { "utm_content":"nsx-explore" } ] })
	- urls.Watch_Nsx_Come_To_Life = Rhythm.BuildUrl({ url: "https://www.youtube.com/watch", query: [ { v: "8EteOAVppGU", feature: "youtu.be" }, tracking, { "utm_content":"nsx-build-video" }  ] })
	
	//- urls. = Rhythm.BuildUrl({ url: "", query: tracking })

block head

block content

	+GraphicCTA(urls.See_Tlx_Gt_Package_Header, {}, {
		relativeSrc: "header-newsletter-black.png",
		alt: "ACURA | Newsletter",
		width: 600,
		height: 85,
		style: { "color":"#ffffff", "background-color":"#000000", "line-height":"85px" }
	})

	+GraphicCTA(urls.See_Tlx_Gt_Package_Graphic, {}, {
		relativeSrc: "tlx-gt-red-sideview-faded-bottom.png",
		alt: "ACURA TLX GT",
		width: 600,
		height: 294,
		style: { "line-height":"294px" }
	})
	+spacer(tagAttribs.lineSpaceExtraSmall)
	+ContentContainer
		+content(tagAttribs.header)
			| New TLX GT Package
		+spacer(tagAttribs.lineSpaceSmall)
		+content(tagAttribs.bodyCopy)
			| The new TLX GT Package is the ultimate embodiment of track-proven performance. Available on all TLX models, this pulse-revving design package breaks the mold, not the bank. Ready to make a bold statement? You will with racing-inspired spoilers and optional 19-inch diamond cut wheels.
		+spacer(tagAttribs.lineSpaceSmall)
		+columns({ class: "mobile-clear" })

			+column({ align: "left", class: "mobile-center", width: "48%" })
				+AcuraButton(urls.See_Tlx_Gt_Package_CTA, { class: "mobile-wide", style: { "padding":"16px 24px", "font-size":"14px", "line-height":"14px" } }, { style: { "font-size":"14px", "line-height":"14px" } })
					| SEE THE TLX GT PACKAGE

			+column({ align: "right", class: "mobile-center", width: "52%" })
				+AcuraButtonBorderless(urls.Watch_Tlx_Gt_Package_Video, { style: { "padding":"16px 1px", "font-size":"14px", "line-height":"14px"  } }, { style: { "font-size":"14px", "line-height":"14px" } })
					| WATCH TLX GT PACKAGE VIDEO

	+spacer(tagAttribs.lineSpaceLarge)
	
	+ContentContainer
		+GraphicCTA(urls.See_Great_Offers_Graphic, {}, {
			relativeSrc: "acura-season-of-performance-event.jpg",
			alt: "",
			width: 500,
			height: 296,
			style: { "line-height":"296px" }
		})
		+spacer({ height: 40 })
		+content(tagAttribs.header)
			| Season of Performance Event
		+spacer({ height: 23 })
		+content(tagAttribs.bodyCopy)
			| Ho ho hold the presses: The &ldquo;Season of Performance&rdquo; sales event is here! With special offers on the popular TLX, ILX, RLX, RDX, and MDX, &rsquo;tis the season for Precision Crafted Performance. And by the way, it&rsquo;s perfectly OK to unwrap your presents early.
		+spacer(tagAttribs.lineSpaceSmall)
		+content(tagAttribs.bodyCopy)
			+AcuraButtonArrow(urls.See_Great_Offers_CTA)
				| SEE GREAT OFFERS

	+spacer(tagAttribs.lineSpaceMedium)
	//- smaller gap than normal because the next image is a slanted one
	
	+GraphicCTA(urls.Shop_Lifestyle_Collection_Graphic, {}, {
		relativeSrc: "lifestyle-collection.png",
		alt: "THE NSX LIFESTYLE COLLECTION",
		width: 600,
		height: 449,
		style: { "line-height":"449px" }
	})
	+ContentContainer
		+spacer(tagAttribs.lineSpaceSmall)
		+content(tagAttribs.bodyCopy)
			| From branded t-shirts and hats to coffee mugs and luggage, the NSX Lifestyle Collection has everything for the supercar enthusiast. The planet&rsquo;s best NSX gear is just a click away.
		+spacer(tagAttribs.lineSpaceSmall)
		+content(tagAttribs.bodyCopy)
			+AcuraButtonArrow(urls.Shop_Lifestyle_Collection_CTA)
				| SHOP THE NSX COLLECTION

	+spacer(tagAttribs.lineSpaceLarge)

	+ContentContainer
		+content(tagAttribs.header)
			| More Gear, More Cheer
		+spacer(tagAttribs.lineSpaceSmall)
		+columns
			+column({ valign: "top" })
				+content(tagAttribs.bodyCopy)
					| When it comes to Acura gear for you and your car, we&rsquo;ve got you covered. The weather outside may be frightful, but your ride can always be delightful.
				+spacer(tagAttribs.lineSpaceSmall)
				+content(tagAttribs.bodyCopy)
					+AcuraButtonArrow(urls.Shop_Parts_Accessories_CTA, { "class":"mobile-small-text" })
						| SHOP PARTS &amp; ACCESSORIES
			+columnSpacer({ width: 30 })
			+column({ width: 160, valign: "top" })
				+spacer(tagAttribs.lineSpaceBodyCopyAlignment)
				+GraphicCTA(urls.Shop_Parts_Accessories_Graphic, {}, {
					relativeSrc: "wheel-hub.png",
					alt: "",
					width: 154,
					height: 147,
					style: styles.rightColumnGraphic,
				})

		+spacer(tagAttribs.lineSpaceMedium)

		+columns
			+column({ valign: "top" })
				+content(tagAttribs.bodyCopy)
					| And for the stylish on your shopping list? All-new Acura apparel and merchandise has arrived just in time for the holidays.
				+spacer(tagAttribs.lineSpaceSmall)
				+content(tagAttribs.bodyCopy)
					+AcuraButtonArrow(urls.Shop_Apparel_CTA)
						| SHOP APPAREL
			+columnSpacer({ width: 30 })
			+column({ width: 160, valign: "top" })
				+spacer(tagAttribs.lineSpaceBodyCopyAlignment)
				+GraphicCTA(urls.Shop_Apparel_Graphic, {}, {
					relativeSrc: "jacket.png",
					alt: "",
					width: 151,
					height: 176,
					style: styles.rightColumnGraphic
				})

	+spacer(tagAttribs.lineSpaceLarge)

	include recipes/AdCallout_Sirius.pug

	+spacer(tagAttribs.lineSpaceLarge)

	+GraphicCTA(urls.Explore_The_Nsx_Graphic, {}, {
		relativeSrc: "nsx-beauty-shot.png",
		alt: "NSX",
		width: 600,
		height: 420,
		style: { "line-height":"420px" }
	})
	+spacer(tagAttribs.lineSpaceSmall)
	+ContentContainer
		+content(tagAttribs.header)
			| Built To Thrill
		+spacer(tagAttribs.lineSpaceSmall)
		+content(tagAttribs.bodyCopy)
			| What&rsquo;s better than driving an NSX? Well, almost nothing. Although exploring this dream machine can be nearly as fun. So give it a spin. Check out the cutting-edge engineering that goes into creating this thrilling supercar, and then watch an awesome video of the iconic NSX coming to life.
		+spacer(tagAttribs.lineSpaceSmall)
		+columns({ class: "mobile-clear" })
			+column({ align: "left", class: "mobile-center" })
				+AcuraButton(urls.Explore_The_Nsx_CTA,  { class: "mobile-wide", style: { padding:"16px 46px" } })
					| EXPLORE THE NSX
			+column({ align: "center", class: "mobile-center" })
				+AcuraButtonBorderless(urls.Watch_Nsx_Come_To_Life, { style: { padding:"16px 46px" } })
					| WATCH NSX VIDEO

	+spacer(tagAttribs.lineSpaceLarge)

	+Footer
		+content(tagAttribs.FooterSmallPrint)
			| #[+sup(13) 1]SiriusXM#[sup(13) &reg;] and all related marks and logos are trademarks of Sirius XM Radio Inc.