extends ./layouts/default.pug

block vars
	- constants.ImagePath = "example-product-b/"
	- defaults.preheaderContent = "[First Name], Make a bold statement with a new, racing-inspired GT package."

	- var tracking = {}
	- tracking["utm_source"] = "source"
	- tracking["utm_medium"] = "medium"
	- tracking["utm_campaign"] = "campaign"
	- tracking["utm_term"] = "term"
	- tracking["utm_content"] = "content"

	- var urls = {}
	- urls.ExploreTlx = Rhythm.BuildUrl({ url: "http://www.acura.com/TLX", query: tracking })
	- urls.Tlx_Offers = Rhythm.BuildUrl({ url: "http://www.acura.com/tools/shopping/CurrentOffers.aspx", query: [ { model: "TLX" }, tracking ] })
	- urls.Build_Tlx = Rhythm.BuildUrl({ url: "http://www.acura.com/build-price/tlx", query: tracking })
	- urls.See_Tlx_Gt_Package = Rhythm.BuildUrl({ url: "http://www.acura.com/tlx/packages", query: [ { test: "test" }, tracking ], fragment: "multi-feature-box-gt" })
	- urls.Tlx_Gt_Package_Video = Rhythm.BuildUrl({ url: "https://www.youtube.com/watch?v=8nLd6C5O1HM", query: [ { v: "8nLd6C5O1HM" }, tracking ] })
	- urls.Explore_Acura_Motorsports = Rhythm.BuildUrl({ url: "http://fv.acura.com/Motorsports", query: tracking });
	- urls.Watch_Jalopnik_Video = "https://www.youtube.com/watch?v=EcNtE6B5Yvs"

block head

block content

	+GraphicCTA(urls.Explore_Tlx, {}, {
		relativeSrc: "header-tlx-white.png",
		alt: "ACURA | TLX",
		width: 600,
		height: 85,
		style: { "background-color":"#ffffff", "line-height":"85px" }
	})

	+GraphicCTA(urls.Explore_Tlx, {}, {
		relativeSrc: "tlx-gt-hero-animation.gif",
		alt: "{ ALT TEXT HERE }",
		width: 600,
		height: 340,
		style: { "line-height":"340px" }
	})

	+ContentContainer
		+spacer(tagAttribs.lineSpaceMedium)
		+content(tagAttribs.header)
			| Break The Mold, Not The Bank
		+spacer(tagAttribs.lineSpaceSmall)
		+content(tagAttribs.bodyCopy)
			| You&rsquo;ve been good all year &ndash; maybe it&rsquo;s time to gift yourself with an eye-catching TLX. Here are a couple of ideas to spice up the holidays.
		+spacer(tagAttribs.lineSpaceMedium)
		+content({ align: "center" })
			+AcuraButton(urls.Explore_Tlx, { class: "mobile-wide", sidePadding: "50px" })
				| EXPLORE TLX

	+ContentContainer({ spacer: tagAttribs.colSpaceContentContainerWide })
		+columns

			+column({ width: 260 })
				+OfferCTA
					+OfferCTA_Header
						| Featured APR Offer
					+spacer({ height: 18 })
					+OfferCTA_Subheader
						| 2016 TLX Special APR
					+spacer({ height: 25 })
					+OfferCTA_Stinger({ bigText: "0.9%" })
						| APR#[br]for 60 months
					+spacer({ height: 12 })
					+OfferCTA_Details
						| For well qualified buyers and buyers that qualify#[br]for the Acura Graduate Program criteria.
					+spacer({ height: 42 })
					+OfferCTA_Link({ url: urls.Tlx_Offers })
						| SEE TLX OFFERS

			+columnRule({ width: 30, height: 470 }, { width: 1, height: 470, color: constants.DividerGray })

			+column({ width: 260 })
				+OfferCTA
					+OfferCTA_Header
						| Featured Lease Offer
					+spacer({ height: 18 })
					+OfferCTA_Subheader
						| 2016 TLX 8 Speed Dual-Clutch P-AWS#[br]Featured Special Lease
					+spacer({ height: 8 })
					+OfferCTA_Stinger({ bigText: "$299" })
						| per month for 36 months#[br]$2499 total due at signing
					+spacer({ height: 12 })
					+OfferCTA_Details
						| Includes down payment with no security deposit. Excludes taxes, titles and either dealer fees or documentary service fee. For well-qualified lessees.
					+spacer({ height: 30 })
					+OfferCTA_Link({ url: urls.Build_Tlx })
						| BUILD &amp; PRICE YOUR TLX

	+GraphicCTA(urls.See_Tlx_Gt_Package, {}, {
		relativeSrc: "tlx-gt-red-sideview.jpg",
		alt: "{ ALT TEXT HERE }",
		width: 600,
		height: 312,
		style: { "line-height":"312px" }
	})

	+ContentContainer
		+spacer(tagAttribs.lineSpaceMedium)
		+content(tagAttribs.header)
			| New TLX GT Package
		+spacer(tagAttribs.lineSpaceSmall)
		+content(tagAttribs.bodyCopy)
			| Who doesn&rsquo;t want to be more stylish and sporty? That&rsquo;s what the TLX GT Package is all about &ndash; from its spoilers and underbody kit to optional 19-inch diamond cut wheels. Available on all TLX models, the TLX GT Package makes a bold statement without saying a word.
		+spacer(tagAttribs.lineSpaceMedium)
		+columns({ class: "mobile-clear" })
			+column({ align: "left", class: "mobile-center" })
				+AcuraButton(urls.See_Tlx_Gt_Package, { class: "mobile-wide", fontSize: "15px" })
					| SEE THE TLX GT PACKAGE
			+column({ align: "right", class: "mobile-center" })
				+AcuraButton(urls.Tlx_Gt_Package_Video, { sidePadding: "0px", borderColor: "transparent", backgroundColor: "transparent", textColor: constants.AcuraRed, fontSize: "15px" })
					| WATCH TLX GT PACKAGE VIDEO

	+spacer(tagAttribs.lineSpaceLarge)

	+ContentContainer
		+content(tagAttribs.header)
			| Born To Run

	+GraphicCTA(urls.Explore_Acura_Motorsports, {}, {
		relativeSrc: "tlx-sport-on-racetrack.png",
		alt: "{ ALT TEXT HERE }",
		width: 600,
		height: 383,
		style: { "line-height":"383px" }
	})
	
	+ContentContainer
		+spacer(tagAttribs.lineSpaceMedium)
		+content(tagAttribs.bodyCopy)
			| The sleek and sporty style of the Acura TLX GT Package was inspired by the Acura TLX GT race car. For Acura, racing is a heightened expression of Precision Crafted Performance. Now you can experience a quarter century of Acura Motorsports history every time you take the wheel.
		+spacer(tagAttribs.lineSpaceSmall)
		+content(tagAttribs.bodyCopy)
			+AcuraButtonArrow(urls.Explore_Acura_Motorsports)
				| EXPLORE ACURA MOTORSPORTS
		+spacer(tagAttribs.lineSpaceMedium)
		+columns
			+column({ valign: "top" })
				+content(tagAttribs.bodyCopy)
					| Watch Ryan Eversley test drive the Acura TLX GT race car on the Jalopnik series &lsquo;Neat Stuff In Cool Cars&rsquo;
				+spacer(tagAttribs.lineSpaceSmall)
				+content(tagAttribs.bodyCopy)
					+AcuraButtonArrow(urls.Watch_Jalopnik_Video)
						| WATCH VIDEO
			+columnSpacer({ width: 10 })
			+column({ width: 240, align: "right" , valign: "top"})
				+spacer(tagAttribs.lineSpaceBodyCopyAlignment)
				+GraphicCTA(urls.Watch_Jalopnik_Video, {}, {
					relativeSrc: "jalopnik-video-sample.png",
					alt: "",
					width: 237,
					height: 137,
					style: styles.rightColumnGraphic
				})

	+spacer(tagAttribs.lineSpaceLarge)

	+Footer
		+content(tagAttribs.FooterSmallPrint)
			| [*] Closed-end lease for 2017 RDX 6 Speed Automatic vehicles (TB3H3HJNW) available from September 7, 2016 through October 31, 2016, to well-qualified lessees approved by Acura Financial Services. Not all lessees will qualify. Higher lease rates apply for lessees with lower credit ratings. MSRP $36,510.00 (includes destination, excludes tax, license, title fee, registration, documentation fees, options, insurance and the like). Actual net capitalized cost $32,317.70. Net capitalized cost includes $595 acquisition fee. Dealer contribution may vary and could affect actual lease payment. Total monthly payments $12,204.00. Option to purchase at lease end $23,001.30. Must take new retail delivery on vehicle from dealer stock by October 31, 2016. Lessee responsible for maintenance, excessive wear/tear and 15&cent;/mile over 10,000 miles/year for vehicles with MSRP less than $30,000, and 20&cent;/mile over 10,000 miles/year for vehicles with MSRP of $30,000 or more. See your Acura dealer for details.
		+spacer(tagAttribs.lineSpaceFooter)
		+content(tagAttribs.FooterSmallPrint)
			| [**] Special APR offer valid on new and unregistered 2017 RDX models from September 7, 2016 through October 31, 2016, to well-qualified buyers on approved credit by Acura Financial Services through participating dealers. Must take new retail delivery on vehicle from dealer stock by October 31, 2016. Not all buyers may qualify. Higher rates apply for buyers with lower credit ratings. Example for 2017 RDX: 1.9% for 36 months financing at $28.60 a month for every $1,000.00 financed. Dealers set actual prices. See your Acura dealer for details.
		+spacer(tagAttribs.lineSpaceFooter)
		+content(tagAttribs.FooterSmallPrint)
			| Please do not reply to this email. You have received this email because you signed up to receive information from Acura. To opt out of future promotional email communications and to update your preferences, please click here. If you are using a mobile device and are unable to opt out, please open this email on a desktop computer and click on the opt-out link from there. All information contained herein applies to U.S. vehicles only. See our Privacy Policy.
		+spacer(tagAttribs.lineSpaceFooter)